In [5]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
## Black Scholes Option Pricing Formula

def BS_Call(S,K,r,T,v,d=0):
    d1 = (np.log(float(S)/K)+((r-d)+v*v/2.)*T)/(v*np.sqrt(T))
    d2 = d1-v*np.sqrt(T)
    return S*np.exp(-d*T)*ss.norm.cdf(d1)-K*np.exp(-r*T)*ss.norm.cdf(d2)

In [46]:
## Build pandas dataframe of prices
S = np.arange(1, 100, 1)
K = np.arange(1, 100, 1)
r = 0.05
T = np.arange(0.05, 1, 0.1)
V = np.arange(0.05, 0.5, 0.04)

# Number of option prices = life begins at a million examples
no_of_options = len(S)*len(K)*len(T)*len(V)
no_of_options

1176120

In [54]:
prices = np.empty([no_of_options,6], dtype=float)

In [65]:
%%time
x = 0
for s in S:
    for k in K:
        for t in T:
            for v in V:
                prices[x,:] = [s,k,t,0.05,v,BS_Call(s,k,r,t,v)]
                x+=1

Wall time: 2min 59s

In [63]:
option_df = pd.DataFrame(index = range(no_of_options), columns = 
                         ['Stock', 
                          'Strike',
                          'Time',
                          'Risk_free',
                          'Volatility',
                          'Call Price'], data = prices )

In [67]:
option_df.tail(10)

         Stock  Strike  Time  Risk_free  Volatility  Call Price
1176110   99.0    99.0  0.95       0.05        0.13    7.520076
1176111   99.0    99.0  0.95       0.05        0.17    8.941301
1176112   99.0    99.0  0.95       0.05        0.21   10.389541
1176113   99.0    99.0  0.95       0.05        0.25   11.850355
1176114   99.0    99.0  0.95       0.05        0.29   13.316823
1176115   99.0    99.0  0.95       0.05        0.33   14.785075
1176116   99.0    99.0  0.95       0.05        0.37   16.252664
1176117   99.0    99.0  0.95       0.05        0.41   17.717881
1176118   99.0    99.0  0.95       0.05        0.45   19.179435
1176119   99.0    99.0  0.95       0.05        0.49   20.636284